.jumbotron-fluid {
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10%;
}

